
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #000;
	font-family: 'Playfair Display', serif;
}

header {
	position: relative;
	width: 70%;
	height: 80vh;
	margin: 0 auto;
	background: url('../img/nature.jpg') center center / cover no-repeat;
	overflow: clip;
}

header::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 30%;
	background: linear-gradient(180deg, transparent, #000);
	bottom: 0;
	z-index: 2;
}

header::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 30%;
	background: linear-gradient(0deg, transparent, #000);
	top: 0;
	z-index: 2;
}

header nav {
	position: absolute;
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 99999;
	top: 0;
}

header nav ul {
	list-style-type: none;
	display: flex;

}

header nav ul li {
	padding: 15px 50px;
}

header nav ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	transition: .3s linear;
}

header nav ul li a:hover {
	color: rgb(255, 255, 255, .7)
}

header nav ul li:nth-child(3) a {
	font-size: 25px;
}

header section {
	position: relative;
	width: 100%;
	height: 100%;
	/* border: 1px solid #fff; */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: 99999;
	color: #fff;
}

header section::before {
	content: '';
	position: absolute;
	width: 20%;
	height: 100%;
	background: linear-gradient(90deg, transparent, #000);
	top: 0;
	right: 0;
	z-index: 2;
}

header section::after {
	content: '';
	position: absolute;
	width: 20%;
	height: 100%;
	background: linear-gradient(-90deg, transparent, #000);
	top: 0;
	left: 0;
	z-index: 2;
}

header section h1 {
	font-size: 45px;
}

header section p {
	font-size: 13px;
	margin-top: 5px;
}

header section i {
	font-size: 30px;
	margin-top: 40px;
	transition: .8s linear;
	cursor: pointer;
}

header section i:hover {
	transform: rotateX(360deg) rotate(360deg);
}

header video {
	position: absolute;
	width: 120%;
	height: 110%;
	left: -100px;
	top: 0;
}

.explore_bx {
	position: relative;
	width: 70%;
	height: auto;
	margin: auto;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 40px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.explore_bx p {
	font-size: 12px;
	width: 400px;
	text-align: center;
	margin-top: 10px;
}

.explore_bx .explore_cards 	{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 30px;
}

.explore_bx .explore_cards .exp_card {
	position: relative;
	width: 180px;
	height: 250px;
	margin: 10px 10px 0px 10px;
	transition: .3s linear;
	color: #fff;
}

.explore_bx .explore_cards .exp_card:hover {
	box-shadow: 5px 5px 30px rgba(255, 255, 255, .2);
}

.explore_bx .explore_cards .exp_card img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.explore_bx .explore_cards .exp_card .content {
	position: absolute;
	width: 100%;
	bottom: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.explore_bx .explore_cards .exp_card .content h4 {
	line-height: 10px;
}

.explore_bx button {
	margin: 30px 0px;
	padding: 10px 30px;
	border-radius: 20px;
	font-weight: 600;
	transition: .3s linear;
	cursor: pointer;
}

.explore_bx button:hover {
	background-color: gray;
	color: #fff;
}

.explore_bx:nth-child(3) .explore_cards .exp_card {
	width: 330px;
	height: auto;
	text-decoration: none;
}

.explore_bx:nth-child(3) .explore_cards .exp_card:hover {
	box-shadow: none;
}

.explore_bx:nth-child(3) .explore_cards .exp_card img {
	height: 190px;
}

.explore_bx:nth-child(3) .explore_cards .exp_card .content {
	position: relative;
	margin-top: 10px;
}

.explore_bx:nth-child(3) .explore_cards .exp_card .content h6 {
	color: rgb(255, 255, 255, .8);
	font-size: 10px;
}

.explore_bx:nth-child(3) .explore_cards .exp_card .content h4 {
	margin-top: 8px;
}

.explore_bx:nth-child(3) .explore_cards .exp_card .content p {
	width: 90%;
	font-size: 9px;
	color: rgb(255, 255, 255, .7);
}