
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #000;
	font-family: 'Playfair Display', serif;
}

header {
	position: relative;
	width: 70%;
	height: 80vh;
	/* border: 1px solid #fff; */
	margin: 0 auto;
	background: url('../img/nature.jpg') center center / cover no-repeat;
	overflow: clip;
}

header::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 30%;
	background: linear-gradient(180deg, transparent, #000);
	bottom: 0;
	z-index: 2;
}

header::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 30%;
	background: linear-gradient(0deg, transparent, #000);
	top: 0;
	z-index: 2;
}

header nav {
	position: absolute;
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 99999;
	top: 0;
}

header nav ul {
	list-style-type: none;
	display: flex;

}

header nav ul li {
	padding: 15px 50px;
}

header nav ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	transition: .3s linear;
}

header nav ul li a:hover {
	color: rgb(255, 255, 255, .7)
}

header nav ul li:nth-child(3) a {
	font-size: 25px;
}